<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="/var/log/internal.log"
      internalLogLevel="Off"
      throwConfigExceptions="true">

  <variable name="verbose" value="${longdate} | ${level} | ${logger} | ${message} | ${onexception:${newline}${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}}"/>
  <variable name="logpath" value="${BaseDir}"/>
  <targets async="true">
    <target name="file" encoding="UTF-8" type="File" layout="${verbose}" fileName="${logpath}/log.txt"
            maxArchiveFiles="5" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${logpath}/log{##}.txt"/>

    <target name="errorsFile" encoding="UTF-8" type="File" layout="${verbose}" fileName="${logpath}/errorlog.txt"
            maxArchiveFiles="5" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${logpath}/ErrorLog{##}.txt"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="errorsFile" />
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>